<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.cw.midc.entity.Report" >
<resultMap id="BaseResultMap" type="org.cw.midc.entity.Report" >
    <id column="rpt_id" property="rptId" jdbcType="VARCHAR" />
    <result column="advice" property="advice" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="diagnosis" property="diagnosis" jdbcType="VARCHAR" />
    <result column="d_doc_id" property="dDocId" jdbcType="VARCHAR" />
    <result column="j_doc_id" property="jDocId" jdbcType="VARCHAR" />
    <result column="s_doc_id" property="sDocId" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="studyinfo_id" property="studyinfoId" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="description" property="description" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    rpt_id, advice, create_time, diagnosis, d_doc_id, j_doc_id, s_doc_id, status, studyinfo_id, 
    update_time, description
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select * 
    from report
    where rpt_id = #{rptId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from report
    where rpt_id = #{rptId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="org.cw.midc.entity.Report" >
    insert into report (rpt_id, advice, create_time, 
      diagnosis, d_doc_id, j_doc_id, 
      s_doc_id, status, studyinfo_id, 
      update_time, description
      )
    values (#{rptId,jdbcType=VARCHAR}, #{advice,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{diagnosis,jdbcType=VARCHAR}, #{dDocId,jdbcType=VARCHAR}, #{jDocId,jdbcType=VARCHAR}, 
      #{sDocId,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{studyinfoId,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{description,jdbcType=VARCHAR}
      )
  </insert>
  
  <select id="selectByStudyInfoId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select * 
    from report
    where studyinfo_id = #{studyinfoId,jdbcType=VARCHAR}
  </select>
  
  <update id="updateStatus" parameterType="Map">
  	update report 
  	set status = #{status,jdbcType=VARCHAR}
  	where rpt_id = #{rptId,jdbcType=VARCHAR}
  </update>
</mapper>