<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.cw.midc.entity.Study" >
  <resultMap id="BaseResultMap" type="org.cw.midc.entity.Study" >
    <id column="study_uid" property="studyUid" jdbcType="VARCHAR" />
    <result column="access_no" property="accessNo" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="inst_cnt" property="instCnt" jdbcType="INTEGER" />
    <result column="modality" property="modality" jdbcType="VARCHAR" />
    <result column="pat_age" property="patAge" jdbcType="VARCHAR" />
    <result column="pat_birth" property="patBirth" jdbcType="TIMESTAMP" />
    <result column="pat_id" property="patId" jdbcType="VARCHAR" />
    <result column="pat_name" property="patName" jdbcType="VARCHAR" />
    <result column="pat_sex" property="patSex" jdbcType="VARCHAR" />
    <result column="pat_size" property="patSize" jdbcType="REAL" />
    <result column="pat_weight" property="patWeight" jdbcType="REAL" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="study_desc" property="studyDesc" jdbcType="VARCHAR" />
    <result column="study_id" property="studyId" jdbcType="VARCHAR" />
    <result column="study_iuid" property="studyIuid" jdbcType="VARCHAR" />
    <result column="study_time" property="studyTime" jdbcType="TIMESTAMP" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    study_uid, access_no, create_time, inst_cnt, modality, pat_age, pat_birth, pat_id, 
    pat_name, pat_sex, pat_size, pat_weight, status, study_desc, study_id, study_iuid, 
    study_time, user_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from study
    where study_uid = #{studyUid,jdbcType=VARCHAR}
  </select>

  <insert id="insert" parameterType="org.cw.midc.entity.Study" >
    insert into study (study_uid, access_no, create_time, 
      inst_cnt, modality, pat_age, 
      pat_birth, pat_id, pat_name, 
      pat_sex, pat_size, pat_weight, 
      status, study_desc, study_id, 
      study_iuid, study_time, user_id
      )
    values (#{studyUid,jdbcType=VARCHAR}, #{accessNo,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{instCnt,jdbcType=INTEGER}, #{modality,jdbcType=VARCHAR}, #{patAge,jdbcType=VARCHAR}, 
      #{patBirth,jdbcType=TIMESTAMP}, #{patId,jdbcType=VARCHAR}, #{patName,jdbcType=VARCHAR}, 
      #{patSex,jdbcType=VARCHAR}, #{patSize,jdbcType=REAL}, #{patWeight,jdbcType=REAL}, 
      #{status,jdbcType=VARCHAR}, #{studyDesc,jdbcType=VARCHAR}, #{studyId,jdbcType=VARCHAR}, 
      #{studyIuid,jdbcType=VARCHAR}, #{studyTime,jdbcType=TIMESTAMP}, #{userId,jdbcType=VARCHAR}
      )
  </insert>

 
</mapper>